* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul li {
  list-style-type: none;
}

a {
  cursor: pointer;
  text-decoration: none;
}

.App {
  text-align: center;
  max-width: 900px;
  margin: 100px auto 0;
  box-shadow: 1px -1px 20px rgba(0,0,0,0.15);
}

